$purple-dark: #645CBB;
$purple-light: #A084DC;
$purple-lavender: #BFACE2;
$purple-pink: #EBC7E6;
$peach: #EAC7C7;
$peach-dark: #CBACAC;
$blue: #A0C3D2;
$blue-dark: #89A7B4;
$beige: #F7F5EB;
$grey: #EAE0DA;
$dark-grey: #393846;
$purple: #975C8D;
$white: #FFFFFF;
$black: #000000;
$red: #CD0404;
$bg: #fffcfc;
